# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# MATLAB
*.asv
*.m~
*.mex*
*.mat.autosave
slprj/

# Editors / IDEs
*.swp
*.swo
*~
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs / temp
*.log
*.tmp
*.bak
*.orig
